<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content="width = device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href = "./css/login.min.css">
        <title>Sign Up</title>
    </head>
    <body>
        <div class = 'header'><h2>Massachusetts COVID-19 Symptom Tracker</h2></div>
        <div class = "loginbox loginboxtop">
            <h1 >Create an account</h1>
        </div>
        <div class = "loginbox loginboxcenter">

            <div class="container inputContainer">
              <form action="/users/newuser" method="POST">
                <div class="form-group inputDiv usernameBox">
                  <input type="text" name="username" class="form-control inputBox" id="username" placeholder="Enter your username..." required>
                </div>
                <div class="form-group inputDiv emailBox">
                  <input type="text" name="email" class="form-control inputBox" id="email" placeholder="Enter your email..." required>
                </div>
                <div class="form-group inputDiv">
                    <input name="password" type="password" class="form-control inputBox" id="password" placeholder="Enter your password..." required>
                </div>
                <div class ="submitForm">
                    <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                </div>
              </form>
              <a href="/login">Login Here</a>
              <a href="/">Back To Home</a>
            </div>
        </div>
    </body>

</html>
